/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CUSTOM PROPERTIES */
:root {
  /* Colors */
  --clr-light: hsla(0, 100%, 100%, 1);
  --clr-dark-100: hsla(0, 0%, 59%, 1);
  --clr-dark-300: hsla(0, 0%, 25%, 1);
  --clr-dark-400: hsla(0, 0%, 17%, 1);

  /* Fonts */
  --ff-primary: 'Rubik', sans-serif;
  --fs-xl: 1.625rem;
  --fs-l: 1.25rem;
  --fs-m: 1rem;
  --fs-s: 0.625rem;

  /* Other */
  --border-radius: 0.7rem;
}

@media screen and (min-width: 700px) {
  :root {
    /* Fonts */
    --ff-primary: 'Rubik', sans-serif;
    --fs-xl: 2rem;
    --fs-l: 1.625rem;
    --fs-m: 1rem;
    --fs-s: 0.75rem;
  }
}

/* GENERAL */

body {
  font-family: var(--ff-primary);
}

main {
  position: relative;
}

/* HEADER */

.header {
  background-image: url('../images/pattern-bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  text-align: center;
}

.header__page-heading {
  padding: 2rem;
  font-size: var(--fs-xl);
  color: var(--clr-light);
  font-weight: 500;
}

/* FORM */

.form {
  display: grid;
  grid-template-columns: 1fr 3rem;

  width: 90%;
  max-width: 35rem;
  margin: 0 auto;
}

.form__input {
  padding: 1em;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  font-size: var(--fs-m);
  border: 0;
}

.form__input:focus {
  outline: 0;
}

.form__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-dark-400);
  border: 0;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;

  cursor: pointer;
}

.form__submit-btn:hover {
  background-color: var(--clr-dark-300);
}

.form__submit-btn:active {
  background-color: var(--clr-dark-400);
}

@media screen and (min-width: 700px) {
  .header {
    background-image: url('../images/pattern-bg-desktop.png');
  }
}

@media screen and (min-width: 1000px) {
  .header {
    height: 16rem;
  }
}

/* MAP SECTION */

.map {
  height: calc(100vh - 20rem - 1rem);
  z-index: 1;
}

@media screen and (min-width: 1000px) {
  .map {
    height: calc(100vh - 16rem - 1rem);
  }
}

/* RESULTS */

.results {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  position: absolute;
  top: -8rem;
  left: 0;
  right: 0;
  z-index: 10;

  background-color: var(--clr-light);
  width: max-content;
  max-width: 90%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: var(--border-radius);
}

.results__item {
  text-align: center;
}

.results__heading {
  margin-bottom: 0.2rem;
  font-size: var(--fs-s);
  color: var(--clr-dark-100);
  font-weight: 500;
  text-transform: uppercase;
}

.results__value {
  font-size: var(--fs-l);
  color: var(--clr-dark-500);
  font-weight: 500;
}

@media screen and (min-width: 1000px) {
  .results {
    grid-template-columns: repeat(4, 1fr);

    width: 70rem;
    top: -4rem;
  }

  .results__item {
    text-align: left;
    padding-left: 1.5rem;
  }

  .results__item:nth-child(2),
  .results__item:nth-child(3),
  .results__item:nth-child(4) {
    border-left: 1px solid var(--clr-dark-100);
  }
}

/* FOOTER */
